// out: ../dist/home.css

@import "./modules/home-main-styles.less";
@import "./modules/home-owl-carousel.less";
@import "./modules/home-animate.less";
@import "./modules/font-awesome.less";
@import "./modules/responsive.less";
@import "./modules/home-owl-default.less";


.home-slider__wrapper {
    padding-top: 100px;
    overflow: hidden;
}
.home-slider__container {
    max-width: 1800px;
    margin: auto;
    padding: 0 20px;
}
.home-slider {
    height: 100%;
    width: 100%;
}
.slick-list {
    height: 100%;
}
.slick-track {
    height: 100%;
}
.slider-elem {
    height: 100%;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;

    &:focus {
        outline: none;
    }
}
.slider-elem-1 {
    background-image: url(../content/slide-1.jpg);
}
.slider-elem-2 {
    background-image: url(../content/slide-1.jpg);
}
.slider-elem-3 {
    background-image: url(../content/slide-1.jpg);
}
.logo__img {
    width: 50px;
    margin-right: 16px;
}
.logo__link {
    width: 200px;   
}
.logo__link span {
    color: #132651;
}
.header_social a {
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.map {
    padding: 50px 0;
}
.map iframe {
    width: 100%;
    height: 500px;
}
.avds_xl_content {
    display: none;
}
.icon_box_image--delivery {
    width: 110px;
    padding-top: 8px;
}

@media (max-width: 1400px) {
    .slider-elem {
        height: 600px;
    }
}
@media (max-width: 1200px) {
    .slider-elem {
        height: 500px;
    }
}
@media (max-width: 1000px) {
    .slider-elem {
        height: 400px;
    }
}
@media (max-width: 700px) {
    .slider-elem {
        height: 300px;
    }
}
@media (max-width: 500px) {
    .slider-elem {
        height: 250px;
    }
}
@media (max-width: 400px) {
    .slider-elem {
        height: 200px;
    }
}
@media (max-width: 350px) {
    .slider-elem {
        height: 150px;
    }
}
@media (max-width: 300px) {
    .slider-elem {
        height: 120px;
    }
}

// sources
// https://colorlib.com/preview/#onetech
// https://colorlib.com/preview/#sublime
// https://colorlib.com/preview/#karma
// https://colorlib.com/preview/#aroma
// https://colorlib.com/preview/#listashop
// https://colorlib.com/preview/#product
// https://colorlib.com/preview/#timezone
// https://preview.colorlib.com/theme/glint/